@import "bootstrap.min.css";

h1,h2,h3,h4,h5,h6 {
  font-family: "proxima-nova-condensed",sans-serif;
  font-style: normal;
  font-weight: 600;

  text-transform: uppercase;

  color: #777;
}

body {
  color: #222;
  font-family: "freight-text-pro",sans-serif;
}

p {

}
