---
title: hwrd
---

<div class="row m-t-3">
  <div class="col-md-12">
    <section>
      <p>
        Hi&mdash;I&rsquo;m hwrd. I am a full-stack, product-focused, software engineer with a passion for user experience, and the belief that great design can change the world.
      </p>
    </section>
  </div>
</div>

<div class="row m-t-3">
  <div class="col-md-4">
    <h4>Now</h4>
    <ul class="list-unstyled">
      <li><a href="https://www.clustertruck.com">ClusterTruck</a></li>
      <li><a href="https://www.cabermetrics.com/">Cabermetrics</a> (coming soon)</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Retired</h4>
    <ul class="list-unstyled">
      <li>bitsan</li>
      <li>circle city strength &amp; conditioning</li>
      <li>circle city barbell</li>
      <li>barbell poetry
        <ul>
          <li><a href="https://www.youtube.com/channel/UC8N1CqAn4lpDQSk7NbKGsWQ">youtube</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <h4>Elsewhere</h4>

    <ul class="list-unstyled fa-ul">
      <li><i class="fa-li fa fa-envelope"></i>
        <script type="text/javascript">
          //<![CDATA[
          <!--
          var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
          "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
          " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!94{)rt{y+xx=l;=+;" +
          "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
          "\"(3),3\\\"\\\\82/<:'-bt=35\\\\04\\\\03\\\\\\\\10\\\\05\\\\02\\\\\\\\25\\\\" +
          "02\\\\03\\\\\\\\UF0*02\\\\\\\\31\\\\0S\\\\06\\\\02\\\\02\\\\\\\\21\\\\03\\\\"+
          "03\\\\\\\\00\\\\02\\\\00\\\\\\\\17\\\\0I\\\\T6\\\\r3\\\\01\\\\\\\\22\\\\04\\"+
          "\\01\\\\\\\\20\\\\0C\\\\=@&A*:33-g2;7< !<m,?)`<>\\\"\\\\\\\\\\\\\\\\t&\\\\/" +
          "&&7-y,5_V6P03\\\\\\\\7g00\\\\\\\\]_^E25\\\\0U\\\\17\\\\00\\\\02\\\\\\\\31\\" +
          "\\0^\\\\KCEY]Y07\\\\0\\\\\\\\\\\\\\\\I\\\\HC@QEM\\\"\\\\f(;} ornture;}))++(" +
          "y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%){++;i<l;i=0(ior;fthnglex.l=" +
          "\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\\"f)\")"                           ;
          while(x=eval(x));
          //-->
          //]]>
        </script>
      </li>
      <li><i class="fa-li fa fa-linkedin"></i><a href="http://www.linkedin.com/pub/brian-howenstein/9/485/522">linkedin</a></li>
      <li><i class="fa-li fa fa-twitter"></i><a href="http://twitter.com/hwrd">twitter</a></li>
      <li><i class="fa-li fa fa-flickr"></i><a href="http://www.flickr.com/photos/bhowenstein/">flickr</a></li>
      <li><i class="fa-li fa fa-500px"></i><a href="https://500px.com/hwrd">500px</a></li>
      <li><i class="fa-li fa fa-github"></i><a href="http://github.com/hwrd">github</a></li>
      <li><i class="fa-li fa fa-key"></i><a href="https://keybase.io/hwrd">keybase</a></li>
    </ul>
  </div>
</div>

